#y_table{
    width: 822px;height: 1000px;
    margin: auto;
    position: relative;top: 130px;

}
.y_input{ width: 85%!important;}
.y_list{
    width: 980px;height: 60px;
    background-color: red;
    margin: auto;
    float: left;
}
.y_back1{
     width: 822px!important;
     height: 60px;margin: auto;
    /*border: #87c4db solid 1px;*/

 }
.y_back1-2{
    width: 792px;
    height: 60px;margin: auto;

}
.y_person_image{

font-size: larger;text-align: center;line-height: 60px;
    color: white;background-color:#87c4db ;


}

.y_head_img{
    font-size: larger;text-align: center;line-height: 60px;
    color: white;background-color:cornflowerblue ;

}

#y_back2{
    width: 980px;height: 600px;
    background-color: #f9f9f9;
}
.y_inform {
    width: 790px;
    height: 700px;
    margin: auto;
    border:#87c4db solid 1px ;
    background-color: white;


}

.y_sex{
    width: 50px;height: 15px;
    display: block!important;float: left;
    position: relative;top: 8px;
}
.y_sex_value_man{
    width: 50px;
    position: relative;top: 6px;left: -55px;
}
.y_sex_value_woman{
    width: 50px;
    position: relative;top: 6px;left: -25px;
}

.y_head {
    width: 790px;
    height: 700px;
    margin: auto;
border:#87c4db solid 1px ;
    background-color: white;
    display: none;

}

.y_headback{
    width: 150px;height: 150px;
    border-radius: 50%;
    position: relative;top: 170px;left: 100px;
    border:#87c4db solid 1px ;
}
.y_headp{
    width: 150px;height: 150px;
    border-radius: 50%;



}

.y_headp_chance{

    width: 300px;height: 30px;
    position: relative;top: 68px;left: 320px;

}
.y_headp_button{

    width: 87px;height: 30px;
    position: relative;top: 65px;left: 320px;
    z-index: 2;

}

.y_headp_li{
    position: relative;top: 80px;left: 280px;
}
.y_headp_hold{
    width: 63px;height: 35px;position: relative;top: 100px;left: 320px;
}
.y_input_birthday{margin-bottom: 15px}
.y_pad{padding-top: 20px}


.s_header{
    position: fixed;
    width: 100%;
    height: 68px;
    border-top: 2px solid #87c4db;
    background: #fff;
    z-index:100;
}
.s_header img{
    margin-left: 150px;
    width: 70px;
    height: 68px;
    float: left;
}
.s_header_name{
    display: block;
    float: left;
    width: 70px;
    height: 68px;
    margin-left: 20px;
    font-size: 34px;
    font-weight: 600;
    color: #87C4DB;
    line-height: 68px;
}
.s_header_search{
    width: 470px;
    height: 22px;
    padding: 6px 12px;
    margin-top: 15px;
    margin-left: 50px;
    border-right: none;
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    float: left;
}
.s_header_searchp{
    display: block;
    width: 34px;
    height: 34px;
    margin-top: 15px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    float: left;
}
.s_header_right{
    float: left;
    width: 300px;
    height: 68px;
    margin-left: 20px;
    line-height: 68px;
}

.s_main{
    background-color: #c81623;
    background-image: url("../images/body_bg.jpg");
    background-repeat: no-repeat;
    background-color: #1f160f;
    overflow: hidden;
}