#su_our{
    width: 1350px;
    height: 800px;
    background-image: url("../images/top_bg.jpg");
    background-size: cover;
}
#su_top{
    background-color: white;
    width: 1350px;
    height: 60px;
    float: left;
    position:fixed;
    top: 0;
    left: 0;
}
#su_top_left{
    width: 800px;
    height: 70px;
    float: left;
    position: relative;
    margin-top: -10px;
}

#su_top_right{
    width: 550px;
    height: 70px;
    float: left;
    position: relative;
    margin-top: 5px;
    z-index: 99!important;
}
#su_top_right font{
    font-family: 楷体;
    color: #87c4db;;
}
#su_top_left img{
    margin-left: -129px;
    margin-top: 14px;
}
#su_top_left font{
    margin-left: 190px;
    float: left;
    color: #87c4db;
    margin-top: 18px;
}
#su_body{
    width: 1365px;
    height: 550px;
    /*background-color: #c3c3c3;*/
}

#su_body_left{
    width: 300px;
    height: 400px;
    float: left;
    /*background-color: #87c4db;;*/
    margin-top: 100px;
    margin-left: 30px;
    text-align: center;
}
h1 {
    font-family: Georgia;
    font-style:oblique;
    font-weight:bold;
    font-size: 60px;
}
#su_body_right{
    width: 800px;
    height: 400px;
    /*background-color: #87c4db;;*/
    float: right;
    margin-top: 100px;
    margin-right: 80px;
    z-index: 1;
}
#lunbo{
    width: 800px;
    height: 400px;
}
#lunbo img{
    width: 800px;
    height: 400px;
}
#open{
    margin-left: 10px;
    margin-top: -470px;
    float: left;

}
#open img{
    background-size: cover;
    display: none;
}