.su_repsd{
    visibility: hidden;
}
*{
    padding: 0;
    margin: 0;
}
#su_share{
    width: 1350px;
    height: 630px;
    float: left;
}
#su_top{
    background-color: #87c4db;
    width: 1350px;
    height: 70px;
    float: left;
}
#su_top_left{
    width: 800px;
    height: 70px;
    float: left;
    position: relative;
}

#su_top_right{
    width: 550px;
    height: 70px;
    float: left;
    position: relative;
    margin-top: 20px;
}
#su_top_right font{
    font-family: 楷体;
}
#su_top_left img{
    margin-left: -129px;
    margin-top: 14px;
}
#su_top_left font{
    margin-left: 190px;
    float: left;
    margin-top: 18px;
}
#su_title{
    width: 900px;
    height: 50px;
    float: left;
    margin-left: 190px;
    margin-top: 10px;
}
.space{
    width: 600px;
    height: 1px;
    background-color:#c3c3c3 ;
    box-shadow: 2px 3px 5px #3f89ec;

}
#su_title font{
    font-family:宋体;
    font-size: 40px;
    font-style: unset;
}
#su_register{
    width: 1000px;
    height: 430px;
    margin: 0 auto;
    background-color: white;
}
#su_regi_left{
    width: 630px;
    height: 430px;
    float:left;
    margin-left: 15px;
}

#su_userName{
    width: 630px;
    height: 60px;
    float: left;
}

#su_phone{
    width: 630px;
    height: 60px;
    float: left;
}
#su_password{
    width: 630px;
    height: 60px;
    float: left;
}
#su_repassword{
    width: 630px;
    height: 60px;
    float: left;
}
#su_active{
    width: 630px;
    height: 60px;
    float: left;
    position: relative;
    top: 10px;
}
#su_agree{
    width: 630px;
    height: 30px;
    float: left;
    font-size: 12px;
    margin-left: 90px;
    margin-top: 10px;
    background-color: white;
}

#su_ok{
    width: 630px;
    height: 60px;
    float: left;
    font-size: 30px;
    font-family: 微软雅黑;
    color: white;
}
.su_submit{
    width: 350px;
    height: 50px;
    margin-left: 75px;
    margin-top: 15px;
    color: white;
    font-family: 新宋体;
    font-size: 20px;
    background-color:#87c4db;


    display: inline-block;
    padding: .3em .5em;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
    /*text-align: center;*/
    text-shadow: 0 1px 1px black;
    color:white;
    font-weight: bold;
}
#su_submit1{
    width: 100px;
    height: 30px;
    font-family: 新宋体;
    font-size: 20px;

    display: inline-block;
    padding: .3em .5em;
    border: 0px solid rgba(0,0,0,.2);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
    text-align: center;
    line-height: 10px;

    text-shadow: 0 1px 1px black;
    color:white;
    font-weight: bold;
}
#kuang1{
    width: 350px;
    height: 35px;
    margin-top: 15px;
    margin-left: 34px;
}
#kuang2{
    width: 350px;
    height: 35px;
    margin-top: 15px;
    margin-left: 34px;
}
.su_email{
    font-size: 10px;
    margin-left: 90px;
    color: black;
}
#kuang3{
    width: 350px;
    height: 35px;
    margin-top: 15px;
    margin-left: 33px;
}
#kuang4{
    width: 350px;
    height: 35px;
    margin-top: 15px;
    margin-left: 15px;
}
#code{
    width: 180px;
    height: 35px;
    margin-left: 25px;
}
#btn{
    height: 35px;
    width: 150px;
    position: absolute;
    margin-left: 13px;
}
#su_regi_right{
    width: 350px;
    height: 430px;
    float: right;
    background-color: #87c4db;
    margin-top: -10px;
}
#su_regi_right_top{
    width: 270px;
    height: 130px;
    /*float: left;*/
    line-height: 130px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #3f89ec;
}
#su_regi_right_bottom{
    width: 270px;
    height: 300px;
    float: left;
    margin-left: 55px;
}
#su_regi_right_bottom img{
    margin-left: 40px;
}

input:focus.required:focus{
    border: 1px solid #87c4db;
    background-color: antiquewhite;
}
/*#isExist,#isRegister{*/
    /*font-size: 10px;*/
    /*color: red;*/
/*}*/
#isExist1{
    font-size: 10px;!important;
    color: red;!important;
}

em.error{
    color: red;
    font-size: 12px;
    font-family: 黑体;
    font-style: normal;
}

